.header__end 
    .container.d-flex
        .header__end-item.d-flex 
            img.header__end-item_img(src="img/end1.jpg", alt="")
            h4.header__end-item_title Адаптивный
        .header__end-item.d-flex 
            img.header__end-item_img(src="img/end2.jpg", alt="")
            h4.header__end-item_title Быстрый
        .header__end-item.d-flex 
            img.header__end-item_img(src="img/end3.jpg", alt="")
            h4.header__end-item_title Выгодный
        .header__end-item.d-flex 
            img.header__end-item_img(src="img/end4.jpg", alt="")
            h4.header__end-item_title Креативный