header.header
    .header__info
        .container 
            h1.header__info-title СОЗДАТЬ САЙТ - ЛЕГКО!
            p.header__info-text Потратьте всего несколько часов для создания собственного сайта
            p.header__info-text Пользуйтесь широким выбором и удобным интерфейсом
            a.header__info-btn.btn Создать сайт
        .header__vector.d-flex 
            img.vektor1(src="img/Vector.svg", alt="")
            img.vektor2(src="img/Vector1.svg", alt="")
    .header__img 
        img.header__img-img(src="img/header-img.jpg", alt="")